$main-font: "Roboto", sans-serif;
$secondary-font: "Raleway", sans-serif;
$accent-color: #2196f3;
$title-light-theme-color: #212121;
$title-dark-theme-color: #ffffff;
$subtitle-light-theme-color: #757575;
$subtitle-dark-theme-color: rgba(255, 255, 255, 0.6);
